body {
 
  min-height: 100vh;



    background-color:whitesmoke;
    font-family: serif;
    padding-bottom: 30px;
    padding: 0px 5% 30px;
}

h1 {
    color:saddlebrown;
    text-align: center;
}

h2 {
    color: darkolivegreen;
}

img {
    
    border-radius: 12px;
    width: 350px;
    height: 350px;
}
p {
   display: flex;
    text-shadow: 0px 0px 10px;
    letter-spacing: normal;
   line-height: 2;
  font-family: monospace;
}
footer {
  margin-top: 45px;
  text-align: center;
}

